.cart-container {
   height: 100%;
   margin: 120px auto 50px auto;
}

.cart-card {
   position: relative;
   display: flex;
   align-items: center;
   margin-bottom: 10px;
   background-color: #fff;
   width: 100%;
   padding: 32px;
}

.cart-card__image img {
   max-width: 100%;
   height: auto;
}

.cart-card__content {
   padding-left: 15px;
}

.cart-card__content__name {
   font-size: 1.25rem;
   margin-bottom: 5px;
}

.cart-card__content__description {
   color: #666;
}

.cart-card__content__quantity {
   font-weight: bold;
}
