.navbar-custom{
    background-color: var(--background-white);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1);
    background-color: var(--background-white);
}

.navbar-custom .navbar-custom__logo{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
    transition: all 0.3s ease;
}

.navbar-custom .navbar-custom__logo:active{
    color: var(--primary-color);
}

.navbar-custom .navbar-custom__logo:focus{
    color: var(--text-color);
}

.navbar-custom .navbar-custom__logo:hover{
    color: var(--primary-color);
}

.navbar-custom .navbar-custom__menu .navbar-custom__menu--item{
    position: relative;
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--text-color);
    transition: all 0.3s ease;
}

.navbar-custom .navbar-custom__menu .navbar-custom__menu--item::after{
    content: "";
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background-color: var(--primary-color);
    transition: width 0.3s;
}

.navbar-custom .navbar-custom__menu .navbar-custom__menu--item:hover::after,
.navbar-custom .navbar-custom__menu .navbar-custom__menu--item.active::after{
    width: 60%;
}

.navbar-custom .navbar-custom__menu .navbar-custom__menu--item:hover,
.navbar-custom .navbar-custom__menu .navbar-custom__menu--item.active{
    color: var(--primary-color);
}

/* Responsive*/
@media (max-width: 62rem) {
    .navbar-custom .navbar-custom__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-top: 1px solid var(--grey);
        margin-top: 20px;
    }

    .navbar-custom .navbar-custom__menu .navbar-custom__menu--item{
        padding: 16px 0;
        text-align: center;
        position: relative;
    }

    .navbar-custom .navbar-custom__menu .navbar-custom__menu--item::after{
        bottom: 10px;
    }
}